body{
  text-align: center;
  
}
#controls{
  width: px;
  height: px;
/*  background-color: #2e7cec;*/
/*  text-align: center;*/
  align-items: space;
}
button{
  text-align: center;
  width: 75px;
  height: 80px;
  font-size: 50px;
}